DATABASE_URL
DATABASE_USER_URL
DATABASE_ADMIN_URL
DATABASE_PLATFORM_URL
NEON_AUTH_BASE_URL
NEON_AUTH_COOKIE_SECRET
R2_ACCOUNT_ID
R2_BUCKET
R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY
DIFY_API_URL=https://api.dify.ai/v1
DIFY_API_KEY
NEXT_PUBLIC_POSTHOG_KEY
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
